@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
   text-size: 10vw;
   padding-top: auto;
   text-align: center;
   font-family: 'Poppins', sans-serif;
}
